@use '~/colors' as colors;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
*{
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 500;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: colors.$dark
}